@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg1: #800080;
    --bg2: #ffc0cb;
    --bg3: rgb(236, 232, 232);
    --btn-bg: #ad59ad;
    --input-bg: rgb(250, 226, 234);
    --loader-bg: rgb(114, 0, 114);
    --border: #913e3e;
    --background1: rgb(253, 250, 250);
    --background4: rgba(243, 179, 179, 0.2);
    --text-color1: #f5f5f5;
    --btn-txt-color: #f5f5f5;
    --text-color2: rgb(0, 0, 0);
}

body {
    background: url(Images/blurry-gradient-haikei\ \(1\).svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5rem 1rem;
    color: var(--text-color1);
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

#Index {
    height: 95vh;
    margin-bottom: 00;
}

.btn {
    font-size: 1rem;
    letter-spacing: .15rem;
    height: 3rem;
    border-radius: 8px;
    color: var(--btn-txt-color);
    background-color: var(--btn-bg);
    border: none;
    cursor: pointer;
}

a {
    list-style: none;
    text-decoration: none;
}

a:hover {
    border-radius: 10px;
}

.form-input:is(:focus, :valid) {
    box-shadow: 0 3px 4px #8a8787;
}

.form-input:is(:focus) {
    border: 2px solid var(--border);
}

.form-div {
    margin-bottom: 1.3rem;
}

.form-input {
    width: 100%;
    height: 4rem;
    border-radius: 8px;
    padding: 0 1rem;
    font-size: 1.2rem;
    background-color: var(--input-bg);
    border: 0 none black;
    outline: none;
    color: var(--text-color2);
}

/* -------- Loader ---------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--loader-bg);
    transition: opacity 2s, visibility 2.8s;
    text-transform: uppercase;
    color: white;
    z-index: 1;
}

.loader-hidden {
    visibility: hidden;
}

.loader-text {
    padding: 0 .5rem;
    animation: loader 1.5s ease;
}

/* -------- Main index ------- */
.main-title {
    margin-top: 4rem;
    text-align: center;
}

.title1 {
    font-size: 2rem;
    letter-spacing: .15rem;
    font-family: "Mochiy Pop One", sans-serif;
}

.title-small {
    font-size: .9rem;
    margin-top: .5rem;
}

.main-header {
    text-align: center;
}

.header-img {
    height: 8rem;
    filter: brightness(-10rem);
    filter: contrast(-2px);
    filter: drop-shadow(100px);
}

.index-btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 0;
    padding: 0;
    gap: 1.5rem;
}

.index-btn {
    height: 4rem;
    font-size: 1.2rem;
    width: 18rem;
}

/* -------HEADER -------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}


/* ------LOG IN -------- */

.Top-div {
    text-align: center;
    margin: 2rem 0 3rem;
}

.p1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: .2rem;
}

.p2 {
    margin: 0 0 1rem;
    font-size: 1.2rem;
}

.wide-btn {
    width: 100%;
    font-size: 1.2rem;
}

.forget {
    padding-top: 1rem;
    font-size: 1rem;
    text-align: end;
    color: var(--border);
}

.else-div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.or {
    font-size: 1.1rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon-list {
    border-radius: 20px;
    width: 10rem;
    font-size: 1rem;
    height: 2.5rem;
    background-color: var(--btn-txt-color);
    border: 1px solid var(--btn-bg);
}

.dont-have {
    margin-top: 2rem;
    font-size: 1.1rem;
}

.dont-have-a {
    color: var(--btn-bg);
    text-decoration: underline;
}

/* Index CSS */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image>img {
    height: 20rem;
    filter: brightness(-10);
    filter: contrast(-2);
    filter: drop-shadow(100);
}

.writeup-div {
    margin-top: 4rem;
    font-size: 1.2rem;
    text-align: center;
}

.writeup-div>p {
    padding-bottom: .5rem;
}

.about-div>p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.p3 {
    height: 1rem;
    padding: 1rem 0 0;
}

.cont-btn {
    margin-top: 130%;
}

.personal-btn {
    margin-top: 90%;
}

.gender-btn {
    margin-top: 110%;
}

.wallet-icon {
    margin: 4rem auto 0;
}

.wallet-icon-list {
    display: flex;
    align-items: center;
    background-color: var(--btn-color);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color1);
}

.wallet-icon-list>i {
    margin-right: .5rem;
}

.wallet-a :hover {
    background: var(--border);
    color: var(--btn-color);
}

.main-gender-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background4);
    margin: 1.5rem 0 0;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 8px;
}

.main-gender-btn:is(:checked) {
    border: 2px solid var(--border);
}

.previous-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    width: 2rem;
    background-color: var(--btn-color);
    border-radius: 25%;
}

.LGA-p {
    margin-bottom: 2rem;
}

option {
    font-size: .5rem;
    font-weight: 100;
}

/* ------ Profile ------- */
.pf-top {
    margin: 3rem 0 1rem;
    padding: 0;
}

.pf-header {
    font-size: 1.8rem;
}

.pf-abt>p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
}

#pf-pic>input {
    font-size: 1.1rem;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-div>label>span {
    font-size: 1.3rem;
}

.pf-select>option {
    transition: all 300ms;
    font-size: .9rem;
}

.pf-wallet {
    width: 17rem;
    margin-bottom: 1rem;
}

.checked {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.checked>input {
    height: 1.2rem;
    width: 1.2rem;
}